<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/addpost" method="POST">
        <div>
            <label for="name">Nama</label>
            <input id="name" type="text" name="name" placeholder="Nama Anda">
        </div>
        <div>
            <label for="no_hp">Nomor HP</label>
            <input id="no_hp" type="text" name="no_hp" placeholder="Nomor Handphone">
        </div>
        <div>
            <label for="name_sch">Nomor HP</label>
            <input id="name_sch" type="text" name="name_sch" placeholder="Nama Sekolah">
        </div>
        <button type="submit">Daftar</button>
        </a>

        <span id="hasil"></span>
    </form>
    <script src="index.js"></script>

</body>
</html>