<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h3 class="text-center">Selamat datang di Informasi Pendaftaran<br>SMKN 1 NGLEGOK</h3>
        <h4 class="mb-1 mt-1">PPDB 2020 / 2021</h4>
        <ul class="nav nav-tabs mt-4 mb-4" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><h5>Home</h5></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><h5>Search</h5></a>
            </li>
          </ul>
          <div class="tab-content mt-3" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="container">
                    <form action="/addpost" method="POST">
                        <div class="form-group">
                            <label for="name">Nama</label>
                            <input id="name" class="form-control" type="text" name="name" placeholder="Nama Anda" required>
                        </div>
                        <div class="form-group">
                            <label for="name_sch">Asal Sekolah</label>
                            <input id="name_sch" class="form-control" type="text" name="name_sch" placeholder="Nama Sekolah" required>
                        </div>
                        <div class="form-group">
                            <label for="no_hp">Nomor HP</label>
                            <input id="no_hp" class="form-control" type="text" name="no_hp" placeholder="Nomor Handphone" required>
                        </div>
                        <div class="form-group">
                            <label for="no_nisn">Nomor NISN</label>
                            <input id="no_nisn" class="form-control" type="text" name="no_nisn" placeholder="Nomor NISN" required>
                        </div>
                        <div class="form-group">
                            <label for="reno_nisn">Masukkan Ulang Nomor NISN</label>
                            <input id="reno_nisn" class="form-control" type="text" name="reno_nisn" placeholder="Comfirm Nomor NISN" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Daftar</button>
                        </a>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="container">
                    <form action="/addpost" method="POST">
                        <div class="form-group">
                            <label for="name"><h6>Cari Berdasarkan No Peserta Anda</h6></label> 
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="basic-addon3">ppdb2020 -</span>
                                </div>
                                    <input type="search" class="form-control" id="basic-url" name="searc_id" aria-describedby="basic-addon3" placeholder="0001">
                                    <button class="btn btn-outline-primary mx-2 my-sm-0" type="submit">Search</button>
                              </div>
                        </div>
                    </form>
                </div>
            </div>
          </div>
    </div>

    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>