<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ambil Nomor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-primary">
            <div class="container">
                <div class="d-flex">
                  <div class="d-flex">
                    <a class="nav-item nav-link active text-light" href="/">Ambil Nomor <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link text-light" href="/search">Cari Nomor</a>
                  </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container text-center">
        <h3>Selamat datang di Pengambilan Nomor <br> SMKN 1 NGLEGOK</h3>
    </div>
    <div class="container">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="container">
                <form action="/addpost" method="POST" id="myForm">
                    <div class="form-group">
                        <label for="name">Nama Lengkap</label>
                        <input id="name" class="form-control" class="input" type="text" name="name" placeholder="Nama Anda" required>
                    </div>
                    <div class="form-group">
                        <label for="name_sch">Asal Sekolah</label>
                        <input id="name_sch" class="form-control" class="input" type="text" name="name_sch" placeholder="Nama Sekolah" required>
                    </div>
                    <div class="form-group">
                        <label for="no_hp">Nomor HP</label>
                        <input id="no_hp" class="form-control" class="input" type="text" name="no_hp" placeholder="Nomor Handphone" required>
                    </div>
                    <div class="form-group">
                        <label for="no_nisn">Nomor NISN</label>
                        <input id="no_nisn" class="form-control" class="input" type="text" name="no_nisn" placeholder="Nomor NISN" required>
                    </div>
                    <button type="submit" onclick="linkBtn()" class="btn btn-primary">Daftar</button>
                    <a id="link-nisn" target="_blank" onclick="linkNomor()" class="btn btn-success text-light">
                      Lihat Nomor
                    </a>
                  </form>
                </div>
            </div>
        </div>
    </div>

    <script>
      function linkBtn(){
        const nisn = document.getElementById("no_nisn").value;
        const linkNisn= document.getElementById("link-nisn");

        linkNisn.setAttribute("href",`http://localhost:3000/search/${nisn}`)
        if (nisn !== null){
          // window.stop();
          setTimeout(
            function resetForm(){
              alert('terima kasih sudah mendaftar');
              document.getElementById("myForm").reset();
            },3000
          )
        }
      }
      function linkNomor(){
        const linkNisn= document.getElementById("link-nisn").getAttribute('href');
        if (linkNisn === null){
          alert('anda belum mendaftar');
        }
      }
    </script>

     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>